<div class="w-100 d-flex align-items-center m-0 p-0 justify-content-center flex-wrap">

  <div class="col m-2 review" *ngFor="let review of reviews">
    <form class="d-flex justify-content-between flex-column w-100" [formGroup]="ReviewForm">
      <h6 class="w-100 d-flex justify-content-center">
        {{review.creationDate | date:'dd.MM.YY, HH:mm':'UTC+3'}}
      </h6>

      <div *ngIf='review.imageUrl' class="d-flex w-100 justify-content-center align-items-center">
        <img loading="lazy" class="review-img mb-2" src="{{review.imageUrl}}" alt="">
      </div>

      <div class="mb-2 d-flex flex-column w-100 p-2">
        <input formControlName="id" type="hidden" value="{{review.id}}">
        <span class="clip mb-1 w-100 fw-bold fs-6">{{review.reviewTitle}}</span>
        <span class="clip mb-1"> {{'HomePage.AuthorName' | translate}} {{review.authorName}} ({{review.authorLikesCount}})</span>
        <span class="wrap mb-1"> {{'HomePage.AverageRate' | translate}} {{review.averageRate}}</span>
        <span class="clip mb-1"> {{'HomePage.Product' | translate}} {{review.productName}}</span>
        <span class="clip mb-1"> {{'HomePage.Category' | translate}} {{review.category}}</span>
        <span class="clip mb-1"> {{'HomePage.Tags' | translate}} {{review.tags}}</span>
      </div>

      <a [routerLink]="['/review', review.id]"
         class="btn btn-primary text-light w-100">
        {{'HomePage.Read' | translate}}
      </a>
    </form>
  </div>
  
</div>
