<div>
  <button class="btn btn-primary d-flex align-items-center justify-content-between" type="button"
          data-bs-toggle="collapse" data-bs-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample">
    {{ 'ReviewPage.LinkedReviews' | translate }}
  </button>
  <div class="collapse mt-2" id="collapseExample">
    <div class="card card-body m-0 p-2">
      <div *ngFor="let review of linkedReviews"
           [routerLink]="['/review', review.id]"
           class="linked-review wrap fw-semibold mt-1 mb-1">
        {{review.title}}
      </div>
    </div>
  </div>
</div>
