.review-image{
  width: 700px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0;
}

.rating-bar{
  display: flex;
  justify-content: space-between;
  /*border: 1px solid lightgrey;*/
  padding: 5px 10px;
  border-radius: 5px;
}

.comments-container{
  display: flex;
  flex-direction: column;
}

.comment{
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  min-height: 80px;
  height: auto;
  width: 100%;

}

.title-container{
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 15px;

}

.comment-head{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.comment-text-container{
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  overflow-wrap: break-word;
  hyphens: auto;
  overflow-y: auto;
  height: auto;
  max-height: 120px;
  width: 100%;
}

#review-title{
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.write-comment-container{
  display: flex;
  flex-direction: column;
}

.write-comment-container textarea{
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 120px;
  padding: 5px;
}

:host-context(.bootstrap) textarea {
  background: white;
}

:host-context(.bootstrap-dark) textarea {
  background: #151515;
  color: white;
}

::ng-deep markdown p{
  width: 100%;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  height: auto;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}
