<div class="w-100 d-flex justify-content-center align-items-center">

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="col-lg-4 p-0 m-0 w-100">

    <h3 class="d-flex justify-content-center">Registration</h3>

    <div class="col w-100 d-flex justify-content-around mb-3">
      <div class="fw-semibold">Already have an account? <a routerLink="/login">Sign In</a></div>
    </div>

    <div class="text-danger d-flex justify-content-center mb-2">
      {{ error }}
    </div>

    <div class="col mb-2">
      <label for="validationCustom01" class="form-label fw-semibold">Login</label>
      <input formControlName="login" maxlength="50" type="text" class="form-control" id="validationCustom01" required>
      <div class="text-danger" *ngIf="registrationForm.controls.login.errors?.required &&
                   registrationForm.controls['login'].touched">
        Login is required
      </div>
      <div class="text-danger"
           *ngIf="registrationForm.controls.login.errors?.minlength &&
            registrationForm.controls['login'].touched">
        Minimum length is 4 symbols
      </div>
    </div>

    <div class="col mb-2">
      <label for="validationCustomUsername" class="form-label fw-semibold">Email</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input formControlName="email" type="text" class="form-control" id="validationCustomUsername"
               aria-describedby="inputGroupPrepend"
               required>
      </div>

      <div class="text-danger" *ngIf="registrationForm.controls.email.errors?.required &&
            registrationForm.controls['email'].touched">
        Email is required
      </div>
      <div class="text-danger" *ngIf="registrationForm.controls.email.errors?.email &&
                  registrationForm.controls['email'].touched">
        Is not an email
      </div>
    </div>

    <div class="col mb-2">
      <label for="validationCustom03" class="form-label fw-semibold">Password</label>
      <input formControlName="password" type="password" class="form-control" id="validationCustom03">

      <div class="text-danger" *ngIf="registrationForm.controls.password.errors?.required &&
                                    registrationForm.controls['password'].touched">
        Password is required
      </div>
      <div class="text-danger" *ngIf="registrationForm.controls.password.errors?.minlength &&
                                  registrationForm.controls['password'].touched">
        Minimum length is 4 symbols
      </div>
    </div>

    <div class="col mb-3">
      <label for="validationCustom03" class="form-label fw-semibold">Password confirmation</label>
      <input formControlName="passwordConfirmation" type="password"
             class="form-control" id="validationCustom04" required
      >

      <div class="text-danger" *ngIf="registrationForm.controls['passwordConfirmation'].errors?.required &&
                            registrationForm.controls['passwordConfirmation'].touched">
        Passwords confirmation is required
      </div>

      <div class="text-danger" *ngIf="registrationForm.hasError('notSame') &&
                            registrationForm.controls['passwordConfirmation'].touched">
        Passwords do not match
      </div>
    </div>

    <div class="col-12 m-0 p-0 w-100  row d-flex justify-content-center">

      <div class="col-12 row w-100 m-0 p-0 d-flex justify-content-center">
        <div class="col">
          <div class="form-check">
            <input formControlName="remember" class="form-check-input" type="checkbox" value="false" id="invalidCheck">
            <label class="form-check-label fw-semibold" for="invalidCheck">
              Remember me
            </label>
          </div>
        </div>

        <div class="col d-flex justify-content-end">
          <a href="">Forgot password?</a>
        </div>
      </div>

    </div>

    <div class="col-12 mt-3">
      <input [disabled]="!registrationForm.valid" class="btn btn-primary w-100" value="Sign Up" type="submit">
    </div>

    <div class="col-12 flex-column mt-2">
      <span class="w-100 d-flex justify-content-center fw-semibold">Or sign up with:</span>
    </div>

    <app-external-login></app-external-login>

  </form>

</div>
