.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  flex-wrap: wrap;
  min-width: 20px;
  background: black;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  transition: .1s all linear;
  max-height: 50px;
}

.tag:hover {
  box-shadow: -1px 0px 8px 0px rgba(4, 8, 9, 0.5);
  transition: .1s all linear;
}

.tag-container {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  height: auto;
  max-height: 250px;
}
