.review{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 15px;
  max-width: 300px;
  min-width: 300px;
  min-height: 450px;
  max-height: 450px;
}

.review-img{
  width: 100%;
  border: 1px solid #3f3f3f;
  border-radius: 5px;
}

.wrap{
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
}

.control-btn{
  width: 120px;
}

.clip{
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  text-overflow: ellipsis;
  max-width: 250px;
}

#count-input{
  width: auto;
  max-width: 150px;
  height: 100%;
}

.tag{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  flex-wrap: wrap;
  min-width: 20px;
  background: black;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  transition: .1s all linear;
  max-height: 50px;
}

.tag:hover{
  box-shadow: -1px 0px 8px 0px rgba(4, 8, 9, 0.5);
  transition: .1s all linear;
}

.tag-container{
  overflow-y: auto;
  height: auto;
}
