<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

<header>
  <nav
    class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light border-bottom box-shadow mb-3"
  >

    <div class="container">
      <a class="navbar-brand ml-3" [routerLink]="['/']">Recommendations.Web</a>

      <button
        class="navbar-toggler btn-outline-secondary mb-2"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="material-symbols-outlined btn-outline-secondary">menu</span>
      </button>

      <div
        class="navbar-collapse collapse d-lg-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow navbar-items">

          <li class="d-flex justify-content-center ">
            <app-search class="mr-3 w-100 m-0 p-0 d-flex justify-content-center"></app-search>
          </li>

          <li class="d-flex mr-3">
            <div class="d-flex align-items-center">{{'Header.Theme' | translate}}</div>
            <app-theme-toggle></app-theme-toggle>
          </li>

          <li class="mr-3 d-flex align-items-center">
            <language-dropdown></language-dropdown>
          </li>

<!--          <li (click)="logout()" class="nav-item mr-3"-->
<!--              [routerLinkActive]="['link-active']">-->
<!--            <a class="nav-link text-dark" [routerLink]="['/fetch-data']">-->
<!--              {{'Header.Logout' | translate}}-->
<!--            </a>-->
<!--          </li>-->

        </ul>
      </div>
    </div>


  </nav>
</header>









