a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1,
  'wght' 400,
  'GRAD' -25,
  'opsz' 48
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

:host-context(.bootstrap) nav {
  background: white;
}

:host-context(.bootstrap-dark) nav {
  background: #191d21;
}

.navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

:host-context(.bootstrap-dark) .navbar-btn {
  color: white !important;
}

:host-context(.bootstrap) .navbar-btn {
  color: #212529 !important;
}
