<div class="w-100 d-flex justify-content-center align-items-center m-0 p-0 row d-flex justify-content-center">

  <form class=" flex-column" (input)="onChangeMarkdownEditor()"
        [formGroup]="reviewForm" (ngSubmit)="onSubmit()">

    <div class="col d-flex justify-content-end mb-5">
      <input [disabled]="!reviewForm.valid" class="d-flex btn btn-primary"
             value="{{'ReviewForm.Send' | translate}}" type="submit">
    </div>


    <div class="row d-flex justify-content-center mt-3">
      <div class="col-lg-4 h-100 row mb-3 d-flex justify-content-center">
        <div class="row w-100">
          <h6>{{'ReviewForm.AddImage' | translate}}</h6>
          <ngx-dropzone accept="image/png, image/jpeg" class="w-100
              d-flex justify-content-center" (change)="onSelectImage($event)">
            <ngx-dropzone-image-preview *ngIf="file !== undefined"
                                        [file]="file!" class="w-100"
                                        [removable]="true"
                                        (removed)="onRemoveImage(file)"

            >
            </ngx-dropzone-image-preview>
            <ngx-dropzone-label *ngIf="file === undefined"
                                class="w-100">{{'ReviewForm.AddImage' | translate}}
            </ngx-dropzone-label>
          </ngx-dropzone>
        </div>
        <div class="row">
          <ngb-rating formControlName="authorRate" (rateChange)="onRateChange($event)"
                      style="font-size: 25px" [max]="10" [(rate)]="rate" [readonly]="false"></ngb-rating>
        </div>
      </div>


      <div class="col-lg-8 w-100">
        <div class="col mb-2">
          <h6>{{'ReviewForm.ReviewTitle' | translate}}</h6>
          <input maxlength="100" formControlName="title" class="form-control" type="text">
          <div class="text-danger" *ngIf="reviewForm.controls.title.errors?.required &&
            reviewForm.controls['title'].touched">
            {{'Validation.TitleIsRequired' | translate}}
          </div>

          <div class="text-danger" *ngIf="reviewForm.controls.title.hasError('minlength')&&
            reviewForm.controls['title'].touched">
            {{'Validation.MinLength5' | translate}}
          </div>
        </div>

        <div class="col mb-2">
          <h6>{{'ReviewForm.ProductName' | translate}}</h6>
          <input maxlength="100" formControlName="productName" class="form-control" type="text">
          <div class="text-danger" *ngIf="reviewForm.controls.productName.errors?.required &&
            reviewForm.controls['productName'].touched">
            {{'Validation.ProductNameIsRequired' | translate}}
          </div>

          <div class="text-danger" *ngIf="reviewForm.controls.productName.hasError('minlength')&&
            reviewForm.controls['title'].touched">
            {{'Validation.MinLength5' | translate}}
          </div>
        </div>

        <div class="col mb-2">
          <h6>{{'ReviewForm.Category' | translate}}</h6>
          <select required formControlName="categoryName"  class="form-select">
            <option *ngFor="let category of categories" value="{{category}}">
              {{category}}
            </option>

          </select>
          <div class="text-danger" *ngIf="reviewForm.controls.categoryName.errors?.required &&
            reviewForm.controls['categoryName'].touched">
            {{'Validation.CategoryIsRequired' | translate}}
          </div>
        </div>

        <div class="col mb-3">
          <h6>{{'ReviewForm.Tags' | translate}}</h6>
          <div id="tag-block">
            <div class="form-group">

              <tag-input secondaryPlaceholder="{{'ReviewForm.EnterTag' | translate}}"
                         (onRemove)="onTagRemove($event)" (onAdd)="onTagAdd($event)"
                         [ngModel]="tags" [ngModelOptions]="{standalone: true}"
                         class=".tag-input" theme="dark" [onlyFromAutocomplete]="false">
                <tag-input-dropdown
                  [autocompleteObservable]="requestAutocompleteTags" displayBy="name"
                  identifyBy="name">
                </tag-input-dropdown>
              </tag-input>

            </div>

            <div class="text-danger" *ngIf="reviewForm.controls.tags.errors?.required">
              {{'Validation.TagsAreRequired' | translate}}
            </div>
          </div>
        </div>


      </div>
    </div>


    <div class="row w-100 d-flex justify-content-center p-0 m-0">
      <div class="col-lg-6 h-100 row mb-2 d-flex justify-content-center">
        <h6>{{'ReviewForm.Description' | translate}}</h6>
        <div class="text-danger mb-2" *ngIf="reviewForm.controls.description!.value!.length > 20000">
          {{'Validation.MaxLength20000' | translate}}
        </div>
        <div class="text-danger mb-2" *ngIf="reviewForm.controls.description.errors?.required &&
                                      reviewForm.controls['description'].touched">
          {{'Validation.DescriptionIsRequired' | translate}}
        </div>
        <markdown-editor [control]="descriptionRawControl"></markdown-editor>
      </div>

      <div class="col-lg-6 h-100 row d-flex justify-content-center">
        <h6>{{'ReviewForm.MarkdownPreview' | translate}}</h6>
        <div class="markdown-div ">
          <markdown [data]='value'></markdown>
        </div>
      </div>
    </div>
  </form>

</div>



