.ng2-tag-input{
  background: #e01a76;
  border-radius: 10px;
}

.markdown-div{
  min-height: 608px !important;
  max-height: 608px !important;
  overflow-y: auto !important;
  height: auto;
  border-radius: 3px;
  border: 1px solid lightgrey;
  padding-left: 10px;
  padding-right: 10px;
  width: 95%;
}

::ng-deep :host-context(.bootstrap-dark) ngx-dropzone{
  background: #101010;
}
