@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/themes/dark.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

a {
  color: #0366d6 !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

table{
  border: 1px solid #eee;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
}

table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}

table td{
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: left;
}

table tbody tr:nth-child(odd){
  background: #fff;
}

table tbody tr:nth-child(even){
  background: #F7F7F7;
}

blockquote{
  border-left: 3px solid black;
  padding-left: 10px;
}

.container-sm{
  margin-top: 100px;
  margin-bottom: 20px;
}

.wrap{
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
}

app-fullscreen-loader{
  z-index: 999;
  position: absolute;
  height: 100vh;
  width: 100% ;
  top: 0;
  left:0
}
